.container {
  display: flex;
  background-color: #f0f4f8; /* Fundo azul claro suave */
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.filterButtons {
  display: flex;
  gap: 15px;
}

.profileIcon {
  font-size: 2.5rem; /* Tamanho do ícone de perfil */
  color: #024284;
  cursor: pointer;
}

.title {
  color: #024284;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.appointmentsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Estilos para os botões de filtro */
.filterBtn {
  background-color: white;
  color: #024284;
  border: 1px solid #b0c4de;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.filterBtn:hover {
  background-color: #e6f0ff;
  border-color: #024284;
}

.filterBtn.active {
  background-color: #024284;
  color: white;
  border-color: #024284;
}

/* Responsividade */
@media (max-width: 768px) {
  .mainContent {
    padding: 20px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .filterButtons {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filterBtn {
    padding: 8px 20px;
  }

  .appointmentsList {
    grid-template-columns: 1fr; /* Uma coluna em telas menores */
  }
}
