.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
  height: 100%;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease;
}

.subContent {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.layoutImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftArea {
  align-items: center;
  width: 40%;
}

.rightArea {
  padding: 0px 100px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 60%;
}
