.title {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  white-space: "pre-line";
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
}
