.buttonEnter {
  padding: 12px 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease;
}

.buttonEnter p {
  color: #024284;
  font-size: 25px;
  font-weight: 300;
}

.buttonEnter:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
