.page {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
  height: 100%;
  border-radius: 100px;
  justify-content: space-around;
  align-items: center;
}

.container-code {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.code-input::placeholder {
  color: white;
  opacity: 1;
}

.code-input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 70px;
  outline: none;
  padding: 3%;
  border-radius: 10px;
  border: 3px solid white;
  background-color: transparent;
  color: white;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .page {
    background-color: red;
    align-items: center;
    border-radius: 30px;
  }

  .left-area {
    width: 100%;
    padding: 10%;
  }

  .right-area {
    display: none;
  }
}

@media (max-width: 768px) {
  .page {
    background-color: pink;
    border-radius: 20px;
    padding: 10px;
  }
  .right-area {
    display: none;
  }

  .left-area {
    padding: 10%;
  }
}

@media (max-width: 480px) {
  .page {
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
  }

  .right-area {
    display: none;
  }
}
