.page {
  display: flex;
  background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
  height: 100%;
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease;
}

.leftArea {
  align-items: center;
  gap: 20px;
  padding: 6% 150px 0px 150px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.rightArea {
  padding: 6% 0px 0px 0px;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .page {
    background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
    align-items: center;
    border-radius: 30px;
  }

  .leftArea {
    width: 100%;
    padding: 10%;
  }

  .rightArea {
    display: none;
  }
}

@media (max-width: 768px) {
  .page {
    background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
    border-radius: 20px;
    padding: 10px;
  }
  .rightArea {
    display: none;
  }

  .leftArea {
    padding: 10%;
  }
}

@media (max-width: 480px) {
  .page {
    background: linear-gradient(to bottom, #024284, #2481b6, #52d6fb);
    padding: 5px;
    border-radius: 10px;
  }

  .rightArea {
    display: none;
  }
}
